*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-family: SF Pro Display,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: rgb(255, 255, 255);
}

.head{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top:10px;
}
.p{
    width: 90%;
    margin: 0 auto;
}

h1{
    font-size: 45px;
}
h2{
    font-size: 30px;
}
h4{
    margin: 0 auto;
    text-align: center;
}
.t{
    margin: 0 auto;
}

#temp {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
  }
  
  #temp td, #temp th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #temp tr:nth-child(even){background-color: #f2f2f2;}
  
  #temp tr:hover {background-color: #ddd;}
  
  #temp th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2f6ae9;
    color: white;
    text-align: center;
  }

  iframe{
      display: block;
  }
.final{

    width:50%;
    margin: 80px auto 0 auto;
    font-size: 1.2rem;
}